body{

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*Le bonjour dans la barre de menu */
.hello{
position: absolute;
top: 1.5em;
right:2em;
color :white;

}
/* bouton de déconnexion*/
.deconnexion{
color:white;
text-decoration: none;
}

.deconnexion:hover {
color:grey;

}
h1{
font-size: 2em;
}

.MesJeux{
width: 40%;
margin-left: 1em;
float: left;
}

.jeu{
    margin-bottom:2em;
}
input[type=password],input[type=Email], input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.form{
    float:left;
    margin-left: 2em;
    width: 40%;
}

.titre-centré{
text-align: center;

}
/*Message d'erreur dans les logs (connexion et inscription)*/
.error{
color:red;

}

#bad_id, #bad_mdp, #mauvais_log{
display: none;

}
#search, #resultat_recherche{
width: 500px;
}
#resultat_recherche li{
    list-style-type: none; 
    width: 99%;
    height:25px;
    border:1px solid #000;
}
#resultat_recherche ul{
     background-color: white;
     position: relative;
     top:-20px;
}
#resultat_recherche ul li a{

    color:#000;
    padding-top:0;
    padding-left:1em;
    padding-right: 1em;
    height:50%;
    text-decoration: none;
    text-align: left;
    display: block;
    
}
#resultat_recherche ul li a:hover
{
    background-color:grey;
    width: 100%;
    color: black;


}
#form .p{
    color:black;
}
#search{
    height:20px;
    font-size: 1em;
    padding: 0;
}
#form_recherche{
    position : absolute;
    left: 20em;
    top: 0em;
}
#reponse_jeux{
    position: relative;
    top:-10px;
}
.form_jeux{
    height:40px;

}
