ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*Le bonjour dans la barre de menu */
.hello{
position: absolute;
top: 1.5em;
right:2em;
color :white;

}
/* bouton de déconnexion*/
.deconnexion{
color:white;
text-decoration: none;
}

.deconnexion:hover {
color:grey;

}
h1{
font-size: 2em;


}